# Building a DataSet from the DATA

The goal of this Jupyter Notebook is to extract in a dictionnary the textual aspect of each file, and associate it with an ID.

In [1]:
import functions
import os
import pandas as pd
from xml.dom import minidom

## 2006 - Smoking
.xml

In [2]:
root_06 = "Data/2006"
list_of_txt_06 = functions.search_for_files(root_06, ".xml")

In [3]:
EHR_06 = {}
for item in list_of_txt_06:
    file = minidom.parse(item)
    text = file.getElementsByTagName("TEXT")
    ID = file.getElementsByTagName("RECORD")
    for txt, idx in zip(text, ID):
        ls = []
        for element in txt.childNodes:
            if type(element).attributes == None:
                ls.append(element.data)
            else:
                ls.append(element.firstChild.data)
        EHR_06[f'06_{int(idx.attributes["ID"].value)}'] = "".join(ls)

In [4]:
df_06 = pd.DataFrame.from_dict(EHR_06, orient="index").sort_index()
df_06

                                                        0
06_1    \n726132880\nDH\n9749099\n947532\n7473533\n12/...
06_10   \n688127038 EH\n47449520\n204512\n3/5/2002 12:...
06_100  \n214735961 DH\n9791919\n379039\n549614\n9/9/2...
06_101  \n070203832 DH\n8446543\n678338\n6804475\n4/2/...
06_102  \n            591265658\n            EH\n     ...
...                                                   ...
06_94   \n            035838124\n            EH\n     ...
06_95   \n            011244576\n            DH\n     ...
06_96   \n            293329379\n            EH\n     ...
06_98   \n018639296 DH\n0684468\n898948\n816644\n08/26...
06_99   \n788268693 DH\n7258512\n020586\n0831510\n4/30...

[913 rows x 1 columns]

## 2008 - Obesity
.xml

In [5]:
root_08 = "Data/2008"
list_of_txt_08 = functions.search_for_files(root_08, ".xml")

In [6]:
EHR_08 = {}

for item in list_of_txt_08:
    file = minidom.parse(item)
    text = file.getElementsByTagName("text")
    ID = file.getElementsByTagName("doc")
    for txt, idx in zip(text, ID):
        # print(idx.attributes['id'].value,)
        EHR_08[f"08_{idx.attributes['id'].value}"] = txt.firstChild.data

In [7]:
EHR_08_1 = {}
item = list_of_txt_08[0]
file = minidom.parse(item)
text = file.getElementsByTagName("text")
ID = file.getElementsByTagName("doc")
for txt, idx in zip(text, ID):
    # print(idx.attributes['id'].value,)
    EHR_08_1[f"08_{idx.attributes['id'].value}"] = txt.firstChild.data

print(item, len(EHR_08_1))

Data/2008/obesity_patient_records_training.xml 611

In [8]:
EHR_08_2 = {}
item = list_of_txt_08[1]
file = minidom.parse(item)
text = file.getElementsByTagName("text")
ID = file.getElementsByTagName("doc")
for txt, idx in zip(text, ID):
    # print(idx.attributes['id'].value,)
    EHR_08_2[f"08_{idx.attributes['id'].value}"] = txt.firstChild.data

print(item, len(EHR_08_2))

Data/2008/obesity_patient_records_test.xml 507

In [9]:
EHR_08_3 = {}
item = list_of_txt_08[2]
file = minidom.parse(item)
text = file.getElementsByTagName("text")
ID = file.getElementsByTagName("doc")
for txt, idx in zip(text, ID):
    # print(idx.attributes['id'].value,)
    EHR_08_3[f"08_{idx.attributes['id'].value}"] = txt.firstChild.data

print(item, len(EHR_08_3))

Data/2008/obesity_patient_records_training2.xml 119

In [10]:
df_08 = pd.DataFrame.from_dict(EHR_08, orient="index").sort_index()
df_08

                                                         0
08_1     \n490646815 | WMC | 31530471 | | 9629480 | 11/...
08_10    \n741814471 | PREMC | 24243765 | | 631730 | 7/...
08_100   \n941137536 | PH | 03273863 | | 268606 | 6/22/...
08_1000  \n347003880 | VH | 35445708 | | 276736 | 7/20/...
08_1001  \n358126908 | WR | 95072926 | | 306133 | 2/20/...
...                                                    ...
08_995   \n607911354 | CCHH | 59684211 | | 793855 | 7/5...
08_996   \n725174746 | NTH | 87507495 | | 4438746 | 7/6...
08_997   \n076101747 | DBH | 78126590 | | 2906251 | 1/1...
08_998   \n616073273 | RH | 32035293 | | 681980 | 6/3/1...
08_999   \n043398100 | VMC | 31544522 | | 056449 | 2/21...

[1237 rows x 1 columns]

## 2009 - Medication
.txt

In [11]:
# Get all the files
# root_09 = "Data/2009"
# list_of_txt_09 = functions.search_for_files(root_09, '.txt')

In [12]:
# Get their record ID and put the in a dictionnary
# EHR_09 = {}

# for file in list_of_txt_09:
#     with open(file, encoding="utf-8-sig") as f:
#         lines = f.readlines()
#     ID = lines[0].split(' ')[1][1:-1]
#     EHR_09[f'09_{ID}'] = ''.join(lines)

In [13]:
# df_09 = pd.DataFrame.from_dict(EHR_09, orient = 'index').sort_index()
# df_09

## 2009 - BIS
.txt

In [14]:
# Get all the files
root_09_bis = "Data/2009_Bis"
list_of_txt_09_bis = functions.search_for_files(root_09_bis, ".txt")
len(list_of_txt_09_bis)

1249

In [15]:
# Get their record ID and put the in a dictionnary
EHR_09_bis = {}

for file in list_of_txt_09_bis:
    with open(file, encoding="utf-8-sig") as f:
        lines = f.readlines()
    ID = lines[0].split(" ")[1][1:-1]
    EHR_09_bis[f"09_{ID}"] = "".join(lines)

In [16]:
df_09_bis = pd.DataFrame.from_dict(EHR_09_bis, orient="index").sort_index()
df_09_bis

                                                           0
09_101427  RECORD #101427\n\n\n608603221 | OC | 89309950 ...
09_101994  RECORD #101994\n\n\n608259760 | LUMC | 0445634...
09_10364   RECORD #10364\n899267981 | G | 38407554 | | 32...
09_104351  RECORD #104351\n\n\n435445425 | CMC | 28920937...
09_104991  RECORD #104991\n180806194 | BHH | 71662715 | |...
...                                                      ...
09_995648  RECORD #995648\n\n\n424008628 | RMPMC | 993530...
09_995723  RECORD #995723\n\n\n042186535 | SH | 79373526 ...
09_996917  RECORD #996917\n\n\n926105855 | W | 27269455 |...
09_99703   RECORD #99703\n\n\n406796482 | VLPNCH | 388926...
09_997311  RECORD #997311\n\n\n505128233 | RH | 36002733 ...

[1249 rows x 1 columns]

## 2010 - Relations
.txt

In [17]:
# Get all the files
root_10 = "Data/2010"
list_of_txt_10 = functions.search_for_files(root_10, ".txt")

In [18]:
# Put it into a dictionnary and get the ID as the name of the file
EHR_10 = {}

for file in list_of_txt_10:
    with open(file, encoding="utf-8-sig") as f:
        lines = f.readlines()
    ID = file.split("/")[-1][:-4]
    EHR_10[f"10_{ID}"] = "".join(lines)

In [19]:
df_10 = pd.DataFrame.from_dict(EHR_10, orient="index")
df_10

                                                                  0
10_558603822      558603822\nGH\n38690340\n9/16/2004 12:00:00 AM...
10_134300717      134300717\nFIH\n9099750\n22777/5p0t\n355178\n2...
10_172897359      172897359\nFIH\n8244699\n319757\n99267\n7/13/1...
10_641557794_WGH  641557794 WGH\n1460214\n715884\n957382\n5/29/2...
10_463067067      463067067\nFIH\n7339944\n31403/p8v6\n363828\n1...
...                                                             ...
10_0053           Admission Date :\n2014-05-08\nDischarge Date :...
10_0437           768768524\nPRGH\n91287406\n057469\n6/19/1998 1...
10_0257           648746074\nCTMC\n84164942\n960919\n9/7/1992 12...
10_0282           395715290\nPUOMC\n2681723\n64704/9r71\n946667\...
10_0149           Admission Date :\n2019-03-29\nDischarge Date :...

[693 rows x 1 columns]

## 2011 - Relations
.txt

In [20]:
# Get all the files
root_11 = "Data/2011"
list_of_txt_11 = functions.search_for_files(root_11, ".txt")

In [21]:
EHR_11 = {}

for file in list_of_txt_11:
    with open(file, encoding="utf-8-sig") as f:
        lines = f.readlines()
    ID = file.split("/")[-1].split("-")[-1][:-4]
    EHR_11[f"11_{ID}"] = "".join(lines)

In [22]:
df_11 = pd.DataFrame.from_dict(EHR_11, orient="index").sort_index()
df_11

                                                        0
11_1    004668411\nCTMC\n68299235\n763052\n9/29/1993 1...
11_101  143484920\nGH\n57104201\n7/10/1991 12:00:00 AM...
11_102  932057504 DH\n5898830\n809200\n356490\n11/25/2...
11_103  Admission Date :\n2013-10-29\nDischarge Date :...
11_106  158656269\nCTMC\n02692537\n322365\n7/8/2000 12...
...                                                   ...
11_92   915093496 RWH\n0802338\n045989\n2923113\n12/13...
11_93   Admission Date :\n2013-02-12\nDischarge Date :...
11_96   139964603\nNVH\n40876531\n11/17/2003 12:00:00 ...
11_97   917989835 RWH\n5427551\n405831\n9660879\n01/09...
11_98   Admission Date :\n2015-09-16\nDischarge Date :...

[424 rows x 1 columns]

## 2012 - Temporal
.txt

In [23]:
# Get all the files
root_12 = "Data/2012"
list_of_txt_12 = functions.search_for_files(root_12, ".txt")

In [24]:
EHR_12 = {}

for file in list_of_txt_12:
    with open(file, encoding="utf-8-sig") as f:
        lines = f.readlines()
    ID = file.split("/")[-1].split(".")[0]
    EHR_12[f"12_{ID}"] = "".join(lines)

In [25]:
df_12 = pd.DataFrame.from_dict(EHR_12, orient="index").sort_index()
df_12

                                                        0
12_1    Admission Date :\n09/29/1993\nDischarge Date :...
12_101  Admission Date :\n07/10/1991\nDischarge Date :...
12_103  Admission Date :\n2013-10-29\nDischarge Date :...
12_107  ADMISSION DATE :\n02/01/2000\nDISCHARGE DATE :...
12_108  Admission Date :\n2020-03-11\nDischarge Date :...
...                                                   ...
12_88   Admission Date :\n2012-06-07\nDischarge Date :...
12_92   ADMISSION DATE :\n12/13/2002\nDISCHARGE DATE :...
12_93   Admission Date :\n2013-02-12\nDischarge Date :...
12_96   Admission Date :\n11/17/2003\nDischarge Date :...
12_98   Admission Date :\n2015-09-16\nDischarge Date :...

[310 rows x 1 columns]

## 2014 - Heart Disease
.xml

In [26]:
# Get all the files
root_14 = "Data/2014"
list_of_txt_14 = functions.search_for_files(root_14, ".xml")

In [ ]:
EHR_14 = {}

for item in list_of_txt_14:
    file = minidom.parse(item)
    text = file.getElementsByTagName("TEXT")
    for txt in text:
        ID = item.split("/")[-1][:-4]
        EHR_14[f"14_{ID}"] = txt.firstChild.data

In [ ]:
df_14 = pd.DataFrame.from_dict(EHR_14, orient="index").sort_index()
df_14

## 2018_1 - ADE
.xml

In [ ]:
# Get all the files
root_18_1 = "Data/2018_1"
list_of_txt_18_1 = functions.search_for_files(root_18_1, ".xml")

In [ ]:
EHR_18_1 = {}

for files in list_of_txt_18_1:
    i=0
    fls = []
    file = minidom.parse(files)
    text = file.getElementsByTagName("TEXT")
    for txt in text:
        lg_text = txt.firstChild.data
        lg_text = lg_text.split("Record date")
        for item in lg_text:
            ID = files.split("/")[-1][:-4]
            #print(ID)
            EHR_18_1[f"18_1_{ID}_{i}"] = "Record date" + item
            i+=1

In [ ]:
df_18_1 = pd.DataFrame.from_dict(EHR_18_1, orient="index").sort_index()
df_18_1

## 2018_2 - Clinical
.txt

In [ ]:
# Get all the files
root_18_2 = "Data/2018_2"
list_of_txt_18_2 = functions.search_for_files(root_18_2, ".txt")

In [ ]:
EHR_18_2 = {}

for file in list_of_txt_18_2:
    with open(file, encoding="utf-8-sig") as f:
        lines = f.readlines()
    ID = file.split("/")[-1][:-4]
    EHR_18_2[f"18_2_{ID}"] = "".join(lines)

In [ ]:
df_18_2 = pd.DataFrame.from_dict(EHR_18_2, orient="index").sort_index()
df_18_2

## CREATE A SINGLE DATAFRAME

In [ ]:
df_ls = [df_06, df_08, df_09_bis, df_10, df_11, df_12, df_14, df_18_1, df_18_2]

In [ ]:
df = pd.concat(df_ls)

In [ ]:
df