# Xploration Notebook

In this notebook we will build a first method to find the frequency of words in a corpus and see their relevance.

We will work with the corpus of EHR (CSV files - Lounes), and then build the TF and then IDF model.

WE will then try to have visualization aspect.

In [1]:
from xploration_functions import *
import pandas as pd
import csv
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
# TEST cell
TEST = {1: "le tf idf de anglais term frequency inverse document frequency est une methode de ponderation souvent utilisee en recherche information et en particulier dans la fouille de textes",
       2: "cette mesure statistique permet evaluer importance un terme contenu dans un document relativement une collection ou un corpus",
       3: "le poids augmente proportionnellement au nombre occurrences du mot dans le document",
       4: "il varie egalement en fonction de la frequence du mot dans le corpus ainsi le",
       5: "des variantes de la formule originale sont souvent utilisees dans des moteurs de recherche pour apprecier la pertinence un document en fonction des criteres de recherche de utilisateur"}

df = pd.DataFrame.from_dict(TEST, orient = 'index', columns = ['rapport'])

all_words = set([word for _, words in df.iterrows() for word in words[0].split() for _, words in df.iterrows()])
all_words_dict = {word:0 for word in all_words}
all_words_dict = {key: value for key, value in sorted(all_words_dict.items())}

In [3]:
# Dowload the csv files
file = 'Data/2-1_cleaned_corpus_rapports.csv'
corpus = pd.read_csv(file, sep=";")

vocabulary = getVocabulary(corpus)
vocabulary_dict = {word: 0 for word in vocabulary}
vocabulary_dict = {key: value for key, value in sorted(vocabulary_dict.items())}

## Bag of words

### Naive Implementation

#### Basic Implementation

In [4]:
# all_words_dict = {word: 0 for word in all_words}
# all_words_dict = {key: value for key, value in sorted(all_words_dict.items())}
# sentences_dict = {i:all_words_dict.copy() for i in list(TEST.keys())}

# for k, sentence in TEST.items():
#     for word in sentence.split():
#         sentences_dict[k][word] +=1
        
# X_bow = []
# for i in list(TEST.keys()):
#     X_bow.append(list(sentences_dict[i].values()))

# df_bow = pd.DataFrame(X_bow, columns = [i for i in list(all_words_dict.keys())])
# df_bow

In [5]:
# def raw_count_text(doc):
#     """
#     Given a text, return a dictionnary with the amount of occurences of a word
#     """
#     words = {}
#     for w in doc.split():
#         if w not in words:
#             words[w] = 1
#         else:
#             words[w]+=1
#     return words

# dict_df = {i:{} for i in range(len(TEST))}
# i=0
# for k, sentence in TEST.items():
#     dict_df[i] = raw_count_text(sentence)
#     i+=1

# df  = pd.DataFrame.from_dict(dict_df, orient = 'index')
# df

# X_home = []
# for idx, row in df.iterrows():
#     a = list(row)
#     a = [0 if math.isnan(num) else int(num) for num in a]
#     X_home.append(a)
# X_home = np.array(X_home)
# df_CV = pd.DataFrame(X_home, columns = [i for i in range(len(X_home[0]))])
# df_CV

#### Python Library

In [6]:
X, ls = getLBow(df, 2)
pd.DataFrame(X, columns = ls)

,ainsi le,anglais term,apprecier la,au nombre,augmente proportionnellement,cette mesure,collection ou,contenu dans,corpus ainsi,criteres de,...,tf idf,un corpus,un document,un terme,une collection,une methode,utilisee en,utilisees dans,variantes de,varie egalement
0,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
1,0,0,0,0,0,1,1,1,0,0,...,0,1,1,1,1,0,0,0,0,0
2,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0

In [7]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(list(TEST.values()))
X = X.toarray()
df_CV = pd.DataFrame(X, columns = vectorizer.get_feature_names_out())
df_CV

,ainsi,anglais,apprecier,au,augmente,cette,collection,contenu,corpus,criteres,...,terme,textes,tf,un,une,utilisateur,utilisee,utilisees,variantes,varie
0,0,1,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,0
1,0,0,0,0,0,1,1,1,1,0,...,1,0,0,3,1,0,0,0,0,0
2,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,1,0,0,0,0,0,0,1,...,0,0,0,1,0,1,0,1,1,0

### Script Implementation

In [8]:
# Bag of Words

# Naive
#pd.DataFrame.from_dict(getBBow(corpus, vocabulary_dict), orient = 'index')

# Library 
X, ls = getLBow(corpus,ngrams = 1)
b = pd.DataFrame(X, columns = ls)

#### Exploration

We can look for the msot common words, or the amount of occurences, etc

In [9]:
b.head()

,00,000,0000,0000000000110,00012625,0002,00038673,0004,0005,0006,...,zygoma,zygomal,zygomatic,zylstra,zym4,zyprexa,zyq,zyrtec,zyvox,zz36
0,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## TF-IDF

### Manual Implementation

#### TF manual

In [10]:
# Finding the count in each document
def raw_count_text(doc):
    """
    Given a text, return a dictionnary with the amount of occurences of a word
    """
    words = {}
    for w in doc.split():
        if w not in words:
            words[w] = 1
        else:
            words[w]+=1
    return words
    
def term_frequency_text(doc, log = False):
    """
    Given a text, return a dictionnary with the frequency of a word within the text
    """
    words = {}
    for w in doc.split():
        if w not in words:
            words[w] = 1
        else:
            words[w] +=1
    if log == True:
        words = {k:np.log(1+v) for k,v in words.items()}
    else:
        words = {k:(v*100)/sum(words.values()) for k,v in words.items()}
    return words

def bool_frequency(doc):
    words = {}
    for w in all_words:
        if w in doc.split():
            words[w] = 1
        else:
            words[w] = 0
    return words

# Finding the count for the whole corpus
def raw_count_corpus(data):
    """
    Given a data frame composed of text, return a dictionnary with the amount of occurences of a word
    """
    words = {}
    for _, string in data.iterrows():
        for w in string[0].split():
            if w not in words:
                words[w] = 1
            else:
                words[w]+=1
    return words
    
def term_frequency_corpus(data, log = False):
    """
    Given a dataframe composed of texts, return a dictionnary with the frequency of a word within the corpus
    """
    words = {}
    for _, string in data.iterrows():
        for w in string[0].split():
            if w not in words:
                words[w] = 1
            else:
                words[w] +=1
    if log == True:
        words = {k:np.log(1+v) for k,v in words.items()}
    else:
        words = {k:(v*100)/sum(words.values()) for k,v in words.items()}
    return words

#### IDF Manual

In [11]:
# Compute the IDF
def idf(data):
    N = data.shape[0]
    frequency = {}
    for _, word in data.iterrows():
        bf = bool_frequency(word[0])
        for k,v in bf.items():
            if v == 1:
                if k not in frequency:
                    frequency[k] = 1
                else:
                    frequency[k] +=1
    return frequency

#### Combined Manual

In [12]:
tf_idf = {}
idf_data = idf(df)
tfidf = {i:{word:0 for word, _ in idf_data.items()} for i in range(df.shape[0])}
i=0
for _, text in df.iterrows():
    a = term_frequency_text(text[0])
    for word, freq in a.items():
        tfidf[i][word] = freq * idf_data[word]
    i+=1
X_home_tfidf = pd.DataFrame.from_dict(tfidf, orient = 'index')
X_home_tfidf

,de,fouille,la,en,document,particulier,est,tf,et,anglais,...,variantes,formule,originale,pertinence,sont,criteres,pour,des,utilisateur,moteurs
0,32.142857,3.571429,10.714286,21.428571,14.285714,3.571429,3.571429,3.571429,3.571429,3.571429,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,22.222222,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,33.333333,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,20.000000,0.000000,20.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,42.857143,0.000000,21.428571,10.714286,14.285714,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.571429,3.571429,3.571429,3.571429,3.571429,3.571429,3.571429,10.714286,3.571429,3.571429

#### TF-IDF Vectorizer Manual

In [13]:
corpus_man = list(TEST.values())
vectorizer_man = TfidfVectorizer()
X = vectorizer_man.fit_transform(corpus_man)
X_tfidf = X.toarray()
df_tfidf = pd.DataFrame(X_tfidf, columns = vectorizer_man.get_feature_names_out())
df_tfidf

,ainsi,anglais,apprecier,au,augmente,cette,collection,contenu,corpus,criteres,...,terme,textes,tf,un,une,utilisateur,utilisee,utilisees,variantes,varie
0,0.000000,0.191654,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.191654,0.191654,0.000000,0.154625,0.000000,0.191654,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.231221,0.231221,0.231221,0.186547,0.000000,...,0.231221,0.000000,0.000000,0.559642,0.186547,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.322073,0.322073,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.301919,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.243586,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.301919
4,0.000000,0.000000,0.170203,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.170203,...,0.000000,0.000000,0.000000,0.137319,0.000000,0.170203,0.000000,0.170203,0.170203,0.000000

### TF-IDF Script

In [14]:
# Hand implementation
pd.DataFrame.from_dict(getTfIdfManual(df, getTF(df, all_words_dict), getIDF(df, all_words_dict)), orient = 'index')

#pd.DataFrame.from_dict(getTfIdfManual(corpus, getTF(corpus, vocabulary_dict), getIDF(corpus, vocabulary_dict)), orient = 'index')

,ainsi,anglais,apprecier,au,augmente,cette,collection,contenu,corpus,criteres,...,terme,textes,tf,un,une,utilisateur,utilisee,utilisees,variantes,varie
1,0.000000,0.093194,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.093194,0.093194,0.000000,0.068439,0.000000,0.093194,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.144969,0.144969,0.144969,0.106461,0.000000,...,0.144969,0.000000,0.000000,0.319382,0.106461,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.217453,0.217453,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.173963,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.127753,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.173963
5,0.000000,0.000000,0.093194,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.093194,...,0.000000,0.000000,0.000000,0.068439,0.000000,0.093194,0.000000,0.093194,0.093194,0.000000

In [15]:
# Library
#X, ls = TF_IDF(corpus)
#pd.DataFrame(X, columns = ls)

:

: