# Building a DataSet from the DATA

In [125]:
import functions
import os
import pandas as pd
from xml.dom import minidom

## 2006 - Smoking
.xml

In [126]:
root_06 = 'Data/2006'
list_of_txt_06 = functions.search_for_files(root_06, '.txt')

In [127]:
# Get their record ID and put the in a dictionnary
EHR_06 = {}

for file in list_of_txt_06:
    with open(file, encoding="utf-8-sig") as f:
        lines = f.readlines()
    lines = ''.join(lines)
    lines = lines.split('[ report_end ]')
    for line in lines[:-1]:
        line = line.split('ID="')
        ID = [x for x in line[1][:3] if x.isdigit()]
        EHR_06[int(''.join(ID))] = line[1][3:]

In [128]:
# root_06 = 'Data/2006'
# list_of_txt_06 = functions.search_for_files(root_06, '.xml')

In [129]:
# for item in list_of_txt_06:
#     EHR_06 = {}
#     file = minidom.parse(item)
#     text = file.getElementsByTagName("TEXT")
#     ID = file.getElementsByTagName("RECORD")
#     for txt, idx in zip(text,ID):
#         EHR_06[idx.attributes['ID'].value] = txt.firstChild.data

In [130]:
df_06 = pd.DataFrame.from_dict(EHR_06, orient = 'index').sort_index()
#df_06

## 2008 - Obesity
.xml

In [138]:
root_08 = 'Data/2008'
list_of_txt_08 = functions.search_for_files(root_08, '.xml')

In [143]:
EHR_08 = {}

for item in list_of_txt_08:
    file = minidom.parse(item)
    text = file.getElementsByTagName("text")
    ID = file.getElementsByTagName("doc")
    for txt, idx in zip(text,ID):
        #print(idx.attributes['id'].value,)
        EHR_08[int(idx.attributes['id'].value)] = txt.firstChild.data

In [144]:
df_08 = pd.DataFrame.from_dict(EHR_08, orient = 'index').sort_index()
df_08

                                                      0
1     \n490646815 | WMC | 31530471 | | 9629480 | 11/...
2     \n159644670 | VH | 60656526 | | 6334749 | 11/2...
3     \n470971328 | AECH | 09071283 | | 6159055 | 5/...
4     \n368346277 | EMH | 64927307 | | 815098 | 3/29...
5     \n508283935 | KFM | 67491508 | | 9707967 | 9/2...
...                                                 ...
1245  \n389697639 | CHH | 44087718 | | 300648 | 6/9/...
1246  \n559327548 | BCVHC | 64379841 | | 265288 | 5/...
1247  \n216095265 | CCVGH | 79004464 | | 818191 | 10...
1248  \n997921897 | MMH | 62172046 | | 8671687 | 5/2...
1249  \n868276463 | CH | 49907736 | | 0475555 | 10/4...

[1237 rows x 1 columns]

## 2009 - Medication
.txt

In [6]:
# Get all the files
root_09 = "Data/2009"
list_of_txt_09 = functions.search_for_files(root_09, '.txt')

In [7]:
# Get their record ID and put the in a dictionnary
EHR_09 = {}

for file in list_of_txt_09:
    with open(file, encoding="utf-8-sig") as f:
        lines = f.readlines()
    ID = lines[0].split(' ')[1][1:-1]
    EHR_09[int(ID)] = ''.join(lines)

In [28]:
df_09 = pd.DataFrame.from_dict(EHR_09, orient = 'index').sort_index()
df_09

                                                        0
433     RECORD #433\n979128258 | FMC | 19635378 | | 10...
661     RECORD #661\n753455514 | ACH | 15453858 | | 06...
801     RECORD #801\n808901044 | SUMCO | 76459162 | | ...
1079    RECORD #1079\n\n\n201181205 | WMC | 41483451 |...
1109    RECORD #1109\n990823337 | AMC | 60025782 | | 8...
...                                                   ...
995611  RECORD #995611\n970837146 | M | 86217530 | | 6...
995648  RECORD #995648\n\n\n424008628 | RMPMC | 993530...
995723  RECORD #995723\n\n\n042186535 | SH | 79373526 ...
996917  RECORD #996917\n\n\n926105855 | W | 27269455 |...
997311  RECORD #997311\n\n\n505128233 | RH | 36002733 ...

[1248 rows x 1 columns]

## 2010 - Relations
.txt

In [9]:
# Get all the files
root_10 = "Data/2010"
list_of_txt_10 = functions.search_for_files(root_10, '.txt')

In [10]:
# Put it into a dictionnary and get the ID as the name of the file
EHR_10 = {}

for file in list_of_txt_10:
    with open(file, encoding='utf-8-sig') as f:
        lines = f.readlines()
    ID = file.split('/')[-1][:-4]
    EHR_10[ID] = ''.join(lines)

In [27]:
df_10 = pd.DataFrame.from_dict(EHR_10, orient = 'index')
df_10

                                                               0
558603822      558603822\nGH\n38690340\n9/16/2004 12:00:00 AM...
134300717      134300717\nFIH\n9099750\n22777/5p0t\n355178\n2...
172897359      172897359\nFIH\n8244699\n319757\n99267\n7/13/1...
641557794_WGH  641557794 WGH\n1460214\n715884\n957382\n5/29/2...
463067067      463067067\nFIH\n7339944\n31403/p8v6\n363828\n1...
...                                                          ...
0053           Admission Date :\n2014-05-08\nDischarge Date :...
0437           768768524\nPRGH\n91287406\n057469\n6/19/1998 1...
0257           648746074\nCTMC\n84164942\n960919\n9/7/1992 12...
0282           395715290\nPUOMC\n2681723\n64704/9r71\n946667\...
0149           Admission Date :\n2019-03-29\nDischarge Date :...

[693 rows x 1 columns]

## 2011 - Relations
.txt

In [12]:
# Get all the files
root_11 = "Data/2011"
list_of_txt_11 = functions.search_for_files(root_11, '.txt')

In [13]:
EHR_11 = {}

for file in list_of_txt_11:
    with open(file, encoding='utf-8-sig') as f:
        lines = f.readlines()
    ID = file.split('/')[-1].split('-')[-1][:-4]
    EHR_11[int(ID)] = ''.join(lines)

In [26]:
df_11 = pd.DataFrame.from_dict(EHR_11, orient = 'index').sort_index()
df_11

                                                     0
1    004668411\nCTMC\n68299235\n763052\n9/29/1993 1...
2    723989226\nOMH\n6410178\n996067\n3/30/1999 12:...
3    Admission Date :\n2015-10-28\nDischarge Date :...
6    013496896\nFIH\n4925669\n21983/7jk2\n129165\n0...
7    745431641 WGH\n2464448\n333887\n3473372\n9/16/...
..                                                 ...
812  Admission Date :\n2018-12-26\nDischarge Date :...
816  693008750\nHLGMC\n6001356\n014235\n9/18/2001 1...
817  Admission Date :\n2012-04-20\nDischarge Date :...
821  708739405 DH\n0606127\n65761\n4209641\n10/29/2...
822  Admission Date :\nDischarge Date :\n2014-01-24...

[424 rows x 1 columns]

## 2012 - Temporal
.txt

In [15]:
# Get all the files
root_12 = "Data/2012"
list_of_txt_12 = functions.search_for_files(root_12, '.txt')

In [16]:
EHR_12 = {}

for file in list_of_txt_12:
    with open(file, encoding='utf-8-sig') as f:
        lines = f.readlines()
    ID = file.split('/')[-1].split('.')[0]
    EHR_12[int(ID)] = ''.join(lines)

In [25]:
df_12 = pd.DataFrame.from_dict(EHR_12, orient = 'index').sort_index()
df_12

                                                     0
1    Admission Date :\n09/29/1993\nDischarge Date :...
2    ADMISSION DATE :\n03/30/1999\nDISCHARGE DATE :...
3    Admission Date :\n2015-10-28\nDischarge Date :...
6    ADMISSION DATE :\n02/22/92\nDISCHARGE DATE :\n...
8    Admission Date:\n2011-02-08\nDischarge Date :\...
..                                                 ...
802  Admission Date :\n2017-09-03\nDischarge Date :...
806  ADMISSION DATE :\n20041012\nDISCHARGE DATE :\n...
807  Admission Date :\n2017-08-14\nDischarge Date :...
812  Admission Date :\n2018-12-26\nDischarge Date :...
817  Admission Date :\n2012-04-20\nDischarge Date :...

[310 rows x 1 columns]

## 2014 - Heart Disease
.xml

In [145]:
# Get all the files
root_14 = "Data/2014"
list_of_txt_14 = functions.search_for_files(root_14, '.xml')

In [153]:
EHR_14 = {}

for item in list_of_txt_14:
    file = minidom.parse(item)
    text = file.getElementsByTagName("TEXT")
    for txt in text:
        ID = item.split('/')[-1][:-4]
        EHR_14[ID] = txt.firstChild.data

In [155]:
df_14 = pd.DataFrame.from_dict(EHR_14, orient = 'index').sort_index()
df_14

                                                        0
100-01  \n\n\nRecord date: 2106-02-12\n\nCampbell Orth...
100-02  \n\n\nRecord date: 2108-03-14\n\n             ...
100-03  \n\n\nRecord date: 2109-09-14\n\n \nSeptember ...
100-04  \n\n\nRecord date: 2111-10-10\n\n    \n\n\n\nC...
100-05  \n\n\nRecord date: 2111-12-14\n\n \n\n\n\nNEUR...
...                                                   ...
400-01  \n\n\nRecord date: 2062-06-10\n\nMedical Walk ...
400-02  \n\n\nRecord date: 2062-07-21\n\n\n\nHalcyon H...
400-03  \n\n\nRecord date: 2066-10-14\n\nHPI; pt was s...
400-04  \n\n\nRecord date: 2067-03-13\n\nHistory of Pr...
400-05  \n\n\nRecord date: 2067-04-14\n\n\n\n\n\n\n\n\...

[1304 rows x 1 columns]

## 2018_1 - ADE
.xml

In [20]:
# Get all the files
root_18_1 = "Data/2018_1"
list_of_txt_18_1 = functions.search_for_files(root_18_1, '.xml')

In [179]:
EHR_18_1 = {}

for files in list_of_txt_18_1:
    fls = []
    file = minidom.parse(files)
    text = file.getElementsByTagName("TEXT")
    for txt in text:
        lg_text = txt.firstChild.data
        lg_text = lg_text.split('Record date')
        i=0
        for item in lg_text:
            ID = files.split('/')[-1][:-4]
            EHR_18_1[f'{ID}_{i}'] = 'Record date' + item

In [181]:
df_18_1 = pd.DataFrame.from_dict(EHR_18_1, orient = 'index').sort_index()
df_18_1

                                                       0
100_0  Record date: 2111-12-14\n\n \n\n\n\nNEUROLOGY ...
101_0  Record date: 2079-08-11\n\n\n\n\nMERCY CARE CE...
102_0  Record date: 2127-09-30\n\n\n\n\tCARDIOLOGY\n\...
103_0  Record date: 2072-01-01\n\nEDVISIT^84091519^TH...
104_0  Record date: 2097-07-19\n\n\n\n\n\n\n\nNAME:  ...
...                                                  ...
395_0  Record date: 2109-09-08\n\nPatient Name: DO, T...
396_0  Record date: 2079-12-12\n\n\n\n\n\n\n\n\nHarpe...
397_0  Record date: 2078-09-07\n\n       \n\n\n\nRYBU...
398_0  Record date: 2111-01-05\n\n \nUROLOGY Consult ...
399_0  Record date: 2071-11-23\n\n\n\nVisit Note\n\n\...

[288 rows x 1 columns]

## 2018_2 - Clinical
.txt

In [22]:
# Get all the files
root_18_2 = "Data/2018_2"
list_of_txt_18_2 = functions.search_for_files(root_18_2, '.txt')

In [23]:
EHR_18_2 = {}

for file in list_of_txt_18_2:
    with open(file, encoding='utf-8-sig') as f:
        lines = f.readlines()
    ID = file.split('/')[-1][:-4]
    EHR_18_2[int(ID)] = ''.join(lines)

In [24]:
df_18_2 = pd.DataFrame.from_dict(EHR_18_2, orient = 'index').sort_index()
df_18_2

                                                        0
100035  Admission Date:  [**2115-2-22**]              ...
100039  Admission Date:  [**2174-4-18**]              ...
100130  Admission Date:  [**2109-7-21**]       Dischar...
100187  Admission Date:  [**2107-1-17**]              ...
100229  Admission Date:  [**2114-12-24**]             ...
...                                                   ...
196911  Admission Date:  [**2157-10-11**]             ...
197869  Admission Date:  [**2207-8-16**]              ...
198207  Admission Date:  [**2117-10-6**]              ...
198406  Admission Date:  [**2146-1-31**]              ...
199385  Admission Date:  [**2185-7-15**]              ...

[505 rows x 1 columns]